<!DOCTYPE html>
<html>

<head>
    <title>View Engine Demo</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .ca_container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .custom-input {
            font-size: 50px; /* 设置字体大小，可根据需要调整 */
        }

        .custom-button {
            font-size: 50px; /* 设置字体大小，可根据需要调整 */
            margin-left: 10px;
        }

    </style>
</head>

<body>
    <div class="ca_container">
        <!-- The text field -->
        <input type="text" value="<%= code %>" id="myInput" class="custom-input">
        <!-- The button used to copy the text -->
        <button onclick="myFunction()" class="custom-button">Copy</button>
        <canvas id="percentageCircle" width="100" height="100"></canvas>
    </div>

    <script>
        const canvas = document.getElementById("percentageCircle");
        const ctx = canvas.getContext("2d");
        const centerX = canvas.width / 2;
        const centerY = canvas.height / 2;
        const radius = 25;

        function drawCircle(percentage) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Draw background circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, radius, 0, 2 * Math.PI);
            ctx.strokeStyle = `hsl(${120 * (1 - percentage)}, 100%, 50%)`; // Interpolate color from green to red
            ctx.lineWidth = 50;
            ctx.stroke();

            // Draw progress circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, radius+1, -0.5 * Math.PI, (-0.5 + 2 * percentage) * Math.PI);
            ctx.strokeStyle = "#ffffff"
            ctx.lineWidth = 50;
            ctx.stroke();
        }

        function myFunction() {
            // Get the text field
            let copyText = document.getElementById("myInput");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            // navigator.clipboard.writeText(copyText.value);

            document.execCommand("copy");
        }

        var _rndcode = undefined;
        const MyDomain = `${window.location.hostname}`;
        setInterval(() => {
            $.ajax({
                url: `https://${MyDomain}/rndcode`,
                success: function (data) {
                    if (_rndcode == undefined || data.code != _rndcode.code) {
                        _rndcode = data;
                        console.log(`update code ${_rndcode}`);
                    }
                }
            });
            //
            if (_rndcode != undefined) {
                let copyText = document.getElementById("myInput");
                copyText.value = _rndcode.code;
                const percent = (Date.now() - _rndcode.ctime) / (_rndcode.nextUpdateTime - _rndcode.ctime);
                drawCircle(percent > 1.0 ? 1.0 : percent);
            } else {
                drawCircle(1.0);
            }
        }, 100);

    </script>
</body>

</html>